body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    background-image: url('/static/css/uploads/BlackLibrary.jpg');
    background-size: cover; /* Изображение будет растянуто по всей странице */
    background-repeat: no-repeat; /* Избегаем повторения */
    background-attachment: fixed; /* Фон остаётся на месте при прокрутке */
}



header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

a, button {
    background-color: #540f22;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover, button:hover {
    background-color: #6c1a3c;
}

footer {
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 10px;
    margin-top: 20px;
}