<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

</head>
<body>
<h1>Book List</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Cover</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td>
            <img th:src="@{'/uploads/' + ${book.coverImage}}" alt="Book Cover" style="max-height: 200px;">
        </td>
        <td>
            <a th:href="@{/books/{id}(id=${book.id})}">View Details</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
